<div class="container mt-5">
  <h1 class="text-center">To-do list</h1>
  <mat-form-field [appearance]="'outline'" class="w-100">
    <mat-label>Add new task</mat-label>
    <input
      matInput
      id="text"
      [type]="'text'"
      [(ngModel)]="newTodo"
      (keydown.enter)="addTodo()"
      [placeholder]="'Add new task'">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTodo()" [disabled]="!newTodo">Add</button>
  <mat-list>
    <mat-list-item *ngFor="let todo of todos; let i = index">
      <div class="list-item">
        <div>
          <mat-checkbox [(ngModel)]="todo.completed" (change)="moveTodo(i)">{{ todo.text }}</mat-checkbox>
        </div>
        <div class="list-actions">

          <mat-icon class="gray-icon main-icon" (click)="editTodo(i)">edit</mat-icon>
          <mat-icon class="gray-icon delete-icon" (click)="deleteTodo(i)">delete</mat-icon>
        </div>

      </div>

    </mat-list-item>
  </mat-list>

  <ng-container *ngIf="completedTodos.length">
    <h2 class="mt-4">Completed Tasks</h2>
    <mat-list>
      <mat-list-item *ngFor="let todo of completedTodos; let i = index">
        <div class="list-item completed">
          <div class="item-text"><mat-icon class="accent-icon">check</mat-icon><span class="line-through">{{ todo.text }}</span></div>
          <div>
            <mat-icon class="gray-icon delete-icon" (click)="deleteCompleted(i)">delete</mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </ng-container>

</div>
